body {
    font-family: "Roboto Mono", monospace;
    background-color: #2c2f33;
    color: white;
    overflow: hidden;
}

a:link {
  color: #f4bc42;
  text-decoration: none;
}

a:visited {
  color: #f4bc42;
  text-decoration: none;
}

a:hover {
  color: #f4bc42;
  text-decoration: none;
}

a:active {
  color: #f4bc42;
  text-decoration: none;
}

#nav {
    text-align: left;
    font-size: 35px;
}

#submit-btn {
    width: 25%;
}

#generate-btn, #main-btn, #submit-btn {
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #ffe1a0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

#generate-btn:hover, #main-btn:hover, #submit-btn:hover {
    background-color: #edc673;
}

.theme-icon {
    cursor: pointer;
}

.light-mode {
    background-color: white;
    color: #2c2f33;
}

.error {
  color: red;
}

#bottom {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  background-color: #1f1e1e;
  width: 100%;
  margin-left: -10px; 
  margin-bottom: -10px;
  padding: 10px;
}

#suggest-box {
  background-color: #1f1e1e;
  color: white; 
  width: 75%;
  font-family: 'Noto Sans', sans-serif;
}
