body {
    font-family: "Roboto Mono", monospace;
    background-color: #2c2f33;
    color: white;
}

#nav {
    text-align: left;
    font-size: 35px;
}

#generate-btn {
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #ffe1a0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

#generate-btn:hover {
    background-color: #edc673;
}

.theme-icon {
    cursor: pointer;
}

.light-mode {
    background-color: white;
    color: #2c2f33;
}
